@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 sm:overflow-hidden;
}

.AppLayout {
  @media screen and (min-width: 767px) {
    display: grid;
    grid-template-columns: max(4vw, 40px) 96vw;
    grid-template-rows: max(4vw, 40px) calc(100vh - max(4vw, 40px));
    grid-template-areas:
      'Sidebar Navbar'
      'Sidebar Content';
  }

  @media print {
    @apply h-full w-full;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'Content';
  }

  .sidebar {
    @apply max-md:fixed max-md:bottom-0 max-md:h-10 max-md:w-full;
    grid-area: Sidebar;
  }

  .navbar {
    @apply max-md:fixed max-md:top-0;
    grid-area: Navbar;
  }

  .content {
    grid-area: Content;
  }
}

*::-webkit-scrollbar {
  @apply h-1 w-2;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-orange-400;
}

input[type='text'],
input[type='date'],
textarea {
  @apply w-full rounded border p-2 ring-1 ring-gray-300 invalid:border-pink-500 invalid:text-pink-600 focus:outline-none focus:ring-orange-400 focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
}
