@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden bg-gray-100;
}

.AppLayout {
  @apply grid;
  grid-template-columns: max(4vw, 40px) 96vw;
  grid-template-rows: max(4vw, 40px) calc(100vh - max(4vw, 40px));
  grid-template-areas:
    'Sidebar Navbar'
    'Sidebar Content';

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: max(4vw, 40px) calc(100vh - max(8vw, 80px)) max(
        4vw,
        40px
      );
    grid-template-areas:
      'Navbar'
      'Content'
      'Sidebar';
  }

  @media print {
    @apply h-full w-full;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.Sidebar {
  grid-area: Sidebar;
}

.Navbar {
  grid-area: Navbar;
}

.content {
  @apply h-full w-full items-center justify-center overflow-y-scroll px-4 py-4 lg:py-20;
  grid-area: Content;
}

.ContentContainer {
  @apply mx-auto;
  width: min(99%, 1000px);
}

*::-webkit-scrollbar {
  @apply h-1 w-2;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-orange-400;
}

.inputWrap {
  @apply mb-4 flex flex-col gap-2;
}

.formLabel {
  @apply flex flex-col text-gray-700;
}

.formLabelWrap {
  @apply mt-4 mb-1 flex flex-col items-baseline md:flex-row;
}

.formLabelSpan {
  @apply font-light text-gray-300;
}

input[type='text'],
input[type='date'],
textarea {
  @apply rounded p-2 ring-1 ring-gray-300 invalid:border-pink-500 invalid:text-pink-600 focus:outline-none focus:ring-orange-400 focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
}

.inputCheckbox {
  @apply mr-2 h-6 w-6 border-gray-400 outline-none;
}

.button {
  @apply cursor-pointer rounded-md bg-orange-400 px-4 py-2 text-white transition-colors hover:bg-orange-500;
}

.checkboxWrap {
  @apply flex items-center gap-2;
}
